@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Jost, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @apply bg-pale-blue;
  }
}

body {
  min-height: 100vh;
}

.portal-wrapper {
  max-width: 1110px;
  width: 83.333333%;
  height: 100%;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .portal-wrapper {
    width: 90%;
  }
}

.feedback-board {
  /* height: 137px; */
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) 
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 10;
  border-radius: 0;
}

.overlay--active {
  display: block;
}

.overlay--hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-mid-navy;
  @apply font-semibold;
}

div {
  @apply rounded-xl;
}

p {
  @apply text-base;
  @apply text-paler-navy;
}

textarea,
input[type="text"],
.select-input {
  @apply bg-very-pale-blue;
  @apply text-paler-navy;
  @apply w-full;
}

input[type="submit"] {
  cursor: pointer;
}

textarea {
  @apply px-6;
  @apply py-4;
}

.btn {
  @apply rounded-xl;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-sm;
  @apply font-bold;
  min-height: 44px;
  transition: all 0.2s ease-in-out;
}

.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-danger {
  @apply py-1.5;
  @apply px-4;
}

.btn-primary {
  @apply bg-primary-purple;
  @apply text-white;
}

.btn-primary:hover,
.btn-primary:focus {
  @apply bg-bright-purple;
}

.btn-secondary {
  @apply bg-secondary-purple;
  @apply text-white;
}

.btn-secondary:hover
.btn-secondary:focus {
  @apply bg-lilac-blue;
}

.btn-tertiary {
  @apply bg-deep-navy;
  @apply text-white;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
  @apply bg-pale-navy;
}

.btn-danger {
  @apply bg-danger-red;
  @apply text-white;
}

.btn-danger:hover,
.btn-danger:focus {
  @apply bg-pale-red;
}

.btn-filter,
.btn-upvote {
  @apply bg-pale-blue;
  @apply font-semibold;
}

.btn-filter:hover,
.btn-filter:focus,
.btn-upvote:hover,
.btn-upvote:focus {
  @apply bg-pale-purple;
}

.btn-filter {
  @apply text-secondary-purple;
}

.btn-upvote {
  @apply py-2.5;
  @apply px-2;
  min-width: 40px;
}

.btn-upvote div {
  display: flex;
  flex-direction: column;
}

.btn-filter {
  @apply py-1.5;
  @apply px-4;
}

.category-tag {
  @apply rounded-xl;
  @apply bg-very-pale-blue;
  @apply text-secondary-purple;
  @apply font-semibold;
  @pply text-sm;
  min-height: 30px;
}

.btn-filter--active {
  @apply !bg-secondary-purple;
  @apply text-white;
}

.btn-filter--active:hover {
  @apply bg-secondary-purple;
}

.indicator-planned {
  @apply bg-sunset-orange;
}

.indicator-in-progress {
  @apply bg-primary-purple;
}

.indicator-live {
  @apply bg-light-blue;
}

.form-icon {
  @apply rounded-full;
  top: 0;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.roadmap-card {
  @apply pt-2;
}

.roadmap-card .btn-upvote > div {
  flex-direction: row !important;
  @apply gap-2;
  @apply px-2;
}

.roadmap-card--planned {
  @apply bg-sunset-orange;
}

.roadmap-card--in-progress {
  @apply bg-primary-purple;
}

.roadmap-card--live {
  @apply bg-light-blue;
}

.select-dropdown {
  box-shadow: 0px 10px 40px -7px #373F6859;
  @apply top-16;
  z-index: 30;
}

.select-dropdown li:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15)
}

.dropdown-icon {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-in-out;
}

.dropdown-icon--active {
  transform: rotate(180deg);
}

@media screen and (max-width: 640px) {
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    border-radius: 0;
    z-index: 20;
  }

  .roadmap-page .navbar {
    top: 0;
  }
}